<mapper namespace="user">

    <!-- sql的唯一标识： namespace.id来组成 statementID -->
    <select id="selectList" resultType="pojo.User">
        select * from user
    </select>

    <select id="selectOne" resultType="pojo.User" paramType="pojo.User">
        select * from user where id = #{id}
    </select>



</mapper>